* {
  box-sizing: border-box;
}
html {
  height: 100%;
  min-height: 100%;
  min-width: 1000px;
}
body {
  height: 100%;
  min-height: 100%;
  background-color: $white;
  font-family: $main-font;
  font-size: 14px;
  color: $text-color;
}
a {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
.clear {
  clear: both;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}

.header {
  $header-root:&;

  margin-bottom: 30px;
  position: relative;
  z-index: 9;

  &__top {
    padding: 20px 0 10px;
    background-color: $bossanova;
  }
  &__logo {
    margin-right:28px;
  }
  &__contacts {
    width: 225px;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #afa9b5;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 11px;
      height: 11px;
      background: url(images/i-phone.png) no-repeat 0 0;
      position: absolute;
      left: 0;
      top: 2px;
    }

    span {
      font-size: 14px;
      font-weight:bold;
      color: $white;
    }
  }
  &__search {
    width: 200px;
    position: relative;

    .input {

      &--search {
        border-color: transparent;
      }
    }
  }
  &__login {
    width: 215px;
    font-size: 12px;
    font-weight: 100;
    color: $white;
    line-height: 24px;
    position: relative;

    &:hover {

      #{$header-root}__login-menu {
        display: block;
      }
    }
  }
  &__login-current {
    width: 185px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      width: 11px;
      height: 6px;
      background: url(images/i-arrow-down.png) no-repeat 0 0;
      position: absolute;
      right: 0;
      top: 9px;
    }

  }
  &__login-menu {
    display: none;
    width: 100%;
    background-color: $bossanova;
    color: $white;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 100;
  }
  &__login-menu-item {
    border-bottom: 1px solid $affair;

    &:last-of-type {
      border-bottom: none;
    }

    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      color: inherit;

      &:hover {
        background-color: $affair;
      }
    }
  }

  &__bottom {
    background-color: $affair;
  }
  &__cart {
    width: 260px;
    height: 40px;
    border-left: 1px solid $bossanova;
    margin-right: -20px;
  }
  &__cart-link {
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 11px;
      height: 6px;
      background: url(images/i-arrow-down.png) no-repeat 0 0;
      position: absolute;
      right: 8px;
      top: 17px;
    }
  }
  &__cart-link-cell {
    display: table-cell;
    width: 63px;
    height: 40px;
    padding-left: 14px;
    vertical-align: middle;
  }
  &__cart-price {
    width: 86px;
    font-size: 12px;
    font-weight: 100;
    color: $white;
    line-height: 40px;
  }
  &__cart-order {
    width: 110px;
  }
  &__cart-order-cell {
    display: table-cell;
    width: 110px;
    height: 40px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: $lima;
  }

}

.filter-list {
  $filter-root: &;

  font-size: 0;
  width: 107%;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 8px 0;
  }
  &__link {
    display: inline-block;
    padding: 0 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
    border: 1px solid rgba($link-color, 0.4);
    border-radius: 3px;
    @include transition(all 0.35s ease);

    &:hover {
      background-color: $link-color;
      color: $white;
      border-color: $link-color;
    }
  }
}

.headline {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}
.main-headline {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 30px;
}

.top-menu {

  $menu-root: &;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  &__item {
    float: left;
  }
  &__link {
    display: block;
    padding: 0 24px;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: $white;
    @include transition(all 0.35s ease);

    &:hover {
      background-color: $white;
      color: $affair;
    }
  }


}

.right-menu {

  padding: 30px 20px;
  background-color: $athens-gray;
  position: relative;

  &.fixed {
    width: 280px;
    position: fixed;
    top: 0;
  }

  &__wrap {
    float: right;
    width: 280px;
  }
  &__search {
    position: relative;
    margin-bottom: 30px;
  }
  &__note {
    display: inline-block;
    width: 160px;
    height: 66px;
    background: url(images/i-arrow-big.png) no-repeat 0 center;
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
    text-align: left;
    color: $text-description;
    padding: 10px 0 0 46px;
    margin-top: 36px;
  }
  &__note-wrap {
    position: absolute;
    bottom: -80px;
    right: 0;
    text-align: right;
  }
}

.center-block {
  position: relative;
  overflow: hidden;
  margin-right: 300px;
}

.goods-list {
  $goods-root: &;

  margin-bottom: 30px;

  &__item {
    padding: 12px 0;
    border-top: 1px solid $border-gray;
    @include clearfix;

    &:last-of-type {
      border-bottom: 1px solid $border-gray;
    }

    &--sale {

      #{$goods-root}__image-icon {
        background: url(images/goods-icon_01.jpg) no-repeat 0 0;
      }
      #{$goods-root}__price-current {
        color: $persimmon;
      }
    }
    &--new {

      #{$goods-root}__image-icon {
        background: url(images/goods-icon_02.jpg) no-repeat 0 0;
      }
    }
    &--gift {

      #{$goods-root}__image-icon {
        background: url(images/goods-icon_03.jpg) no-repeat 0 0;
      }
    }
  }
  &__cell {
    height: 70px;
    vertical-align: middle;
  }
  &__image {
    float: left;
    width: 80px;
    position: relative;
  }
  &__image-cell {
    display: table-cell;
    width: 80px;
    text-align: center;
  }
  &__image-icon {
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__title {
    float: left;
    width: 360px;
    font-weight: 100;
    line-height: 18px;
    cursor: pointer;

    &:hover {

      #{$goods-root}__title-name {
        color: rgba($lima, 0.9);
      }
    }
  }
  &__title-cell {
    display: table-cell;
    width: 360px;
    text-align: left;
  }
  &__title-name {
    @include transition(all 0.35s ease);
  }
  &__title-code {
    font-size: 12px;
    color: $text-description;
  }
  &__price {
    float: left;
    width: 85px;
    margin-right: 16px;
  }
  &__price-cell {
    display: table-cell;
    width: 85px;
    text-align: right;
  }
  &__price-current {
    font-weight: bold;
  }
  &__price-old {
    font-size: 12px;
    font-weight: 100;
    text-decoration: line-through;
  }
  &__add {
    float: left;
    width: 100px;
  }
  &__add-cell {
    display: table-cell;
    width: 100px;
    text-align: left;
    text-decoration: none;
    color: inherit;
  }
  &__add-link {
    display: inline-block;
    width: 60px;
    height: 34px;
    background: $lima url(images/i-plus.png) no-repeat center;
    border-radius: 3px;
    position: relative;
  }
  &__add-count {
    font-size: 12px;
    font-weight:100;
    color: $text-description;
    cursor: default;
    position: absolute;
    top: 0;
    right: -28px;
  }
}

.bottom-menu {

  $menu-root: &;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  &__item {
    float: left;
    margin: 0 36px 0 0;

    &:last-of-type {
      margin-right:0;
    }
  }
  &__link {
    display: block;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: $white;
    @include transition(all 0.15s ease);

    &:hover {
      text-decoration: underline;
    }
  }


}

.footer {
  background-color: $affair;

  .container {
    position: relative;
  }

  &__menu {
    position: absolute;
    top: 20px;
    left: 0;
  }
  &__address {
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
    color: rgba($white, 0.5);
    position: absolute;
    left: 0;
    top: 66px;
  }
  &__phone {
    width: 170px;
    color: $white;
    font-weight: 100;
    position: absolute;
    top: 33px;
    right: 160px;

    span {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 6px;
    }
  }
  &__mobile {
    position: absolute;
    top: 20px;
    right: 0;
  }
  &__mobile-link {
    display: block;
    width: 150px;
    height: 60px;
    padding: 15px 0 0 50px;
    font-weight: 100;
    color: $white;
    text-decoration: none;
    background: $bossanova url(images/i-phone2.png) no-repeat 14px center;
    border-radius: 7px;
  }

}