// Proxima Nova

@font-face {
  font-family: 'ProximaNova';
  src: local('Proxima Nova Bold'),
  local('ProximaNova-Bold'),
  url('fonts/ProximaNova_bold.woff') format('woff'),
  url('fonts/ProximaNova_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: local('Proxima Nova'),
  local('ProximaNova-Regular'),
  url('fonts/ProximaNova_regular.woff') format('woff'),
  url('fonts/ProximaNova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-RegularIt.eot');
  src: url('fonts/ProximaNova-RegularIt.woff2') format('woff2'),
  url('fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('fonts/ProximaNova-RegularIt.ttf') format('truetype'),
  url('fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'),
  url('fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/ProximaNova-Light.eot');
  src: url('fonts/ProximaNova-Light.woff2') format('woff2'),
  url('fonts/ProximaNova-Light.woff') format('woff'),
  url('fonts/ProximaNova-Light.ttf') format('truetype'),
  url('fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
  url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}





