.input {
  background: none;
  outline: none;
  margin: 0;
  width: 100%;
  height: 24px;
  border: 1px solid $border-gray;
  border-radius: 3px;
  background-color: $white;
  padding: 0 16px;
  font-family: $main-font;
  font-size: 12px;
  line-height: 24px;
  color: $text-description;

  &--search {
    border-radius: 30px;
    padding-right: 30px;
  }

  &--textarea {
    height: 100px;
    padding: 6px 16px;
    resize: none;
  }
}
.input-submit {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  background: url(images/i-search-loop.png) no-repeat center;
  width: 30px;
  height: 24px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -1000px;
  position: absolute;
  right: 0;
  top: 0;
}
