.l-page-container {
  height: auto !important;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: visible;
}
.l-sides {
  @include clearfix;
}
.l-side-left {
  float: left;
}
.l-side-right {
  float: right;
}
.l-wrap {
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
}
.l-footer {
  width: 100%;
  height: 120px;
  margin-top: -120px;
  position: relative;
  overflow: hidden;
}