// Fonts

$main-font: 'ProximaNova';
$add-font: 'PTSans';

// Colors

$text-color: #000000;
$text-description: #b2b2af;
$link-color: #604176;
$border-gray: #dcdcdc;

$white: #ffffff;
$black: #000000;
$bossanova: #3B214E;
$affair: #604176;
$lima: #7cad1e;
$athens-gray: #f1f3f5;
$persimmon: #ff5a5a;


